* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.top_header {
    background-color: #4a657d;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
}

.center_container {
    width: 90%;
    display: flex;
}

.contact_list {
    display: flex;
    list-style-type: none;
    column-gap: 30px;
    align-items: center;
    margin: 0;
    padding: 0;
}

.contact_list_left_part {
    justify-content: center;
    width: 50%;
}

.contact_list_right_part {
    width: 50%;
    justify-content: center;
    column-gap: 20px;
}

.contact_icon {
    margin-right: 20px;
}

#support_icon {
    margin-right: 15px;
}

.link_block {
    background-color: #1f87e4;
    padding: 20px 40px;
}